*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#ffffff;
color:#111827;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#2563eb;
color:white;
}

.search{
display:flex;
align-items:center;
background:white;
padding:8px 12px;
border-radius:10px;
width:50%;
}

.search input{
border:none;
outline:none;
margin-left:8px;
width:100%;
}

.banner{

margin:20px;

padding:30px;

border-radius:20px;

background:linear-gradient(135deg,#2563eb,#60a5fa);

color:white;

}

.category{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

padding:20px;

}

.card{

text-decoration:none;

color:#111;

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

text-align:center;

font-weight:bold;

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

footer{

padding:30px;

text-align:center;

color:#666;

}
